body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px;
}

header {
  margin: 0px auto;
  max-width: $max-width;
  text-align: center;

  img {
    width: 25%;
    margin: 30px 0 10px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: 400;

    a {
      text-decoration: none;
    }
  }
}

footer {
  border-top: 1px solid #ddd;
  margin: 3em 0 0;
  padding: 3em 0 0;
  text-align: center;

  @include non-mobile {
    p {
      display: inline;
    }

    br {
      display: none;
    }

    p + p:before {
      content: (" | ");
    }
  }
}

main {
  margin: 0px auto;
  max-width: $max-width;
}

h2 {
  font-size: 1.25em;
  font-weight: 300;
}

ol.episodes {
  list-style: none;
  padding-left: 0;

  h3 {
    font-size: 1em;
    font-weight: 300;
  }
}

