---
---

<% wrap_layout :layout do %>
  <h2><%= current_page.data.title %></h2>

  <audio controls="controls">
    <source src="<%= path_to_audio(current_page) %>" type="audio/mp4">
  </audio>
  <%= yield %>
<% end %>
