<% if episodes.any? %>
  <h2>Recent episodes</h2>
  <ol class="episodes">
    <% episodes.each do |episode| %>
      <li>
        <h3><%= link_to "#{episode_number(episode)}: #{episode.data.title}", episode.url %></h3>
        <% if episode.data.excerpt %>
          <p><%= episode.data.excerpt %></p>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <h3>Sorry, no episodes (yet)</h3>
<% end %>
