---
layout: layout
---

<p class="welcome">
Hi!
Welcome to Some Fine Television, with your hosts <a href="http://patrickbyrne.net/">Patrick</a> and <a href="http://samuelfine.com">Samuel</a>.
As you might be able to glean from the title, each episode discusses some of the fine television, new and old, available these days.
</p>

{% include episode_list %}
