---
---

<p class="welcome">
Hi!
Welcome to Some Fine Television, with your hosts <%= link_to "Patrick", "http://patrickbyrne.net/" %> and <%= link_to "Samuel", "http://samuelfine.com" %>.
</p>

<%= partial "episode_list" %>
